body {
    background-color:#6ABCBE;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    animation: rotate 2s ease-in-out infinite;
  }

  .circle2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
  }